.union-icon {
  width: 28.2px;
  position: relative;
  height: 27.2px;
}
.logo1 {
  border-radius: 7.51px;
  background-color: var(--color-white);
  padding: 3.858555316925049px;
}
.logo,
.logo1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cummo {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 22.52px;
  font-weight: 600;
}
.nav-brand,
.text {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-brand {
  align-items: center;
  justify-content: center;
  gap: 0 15.02px;
}
.home-icon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.leading-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.507691860198975px;
}
.dashboard {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 22.52px;
}
.leading-icon-nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div {
  position: absolute;
  top: -1.9px;
  left: 8.4px;
  line-height: 27.22px;
}
.number-notification-badge {
  width: 22.5px;
  position: relative;
  border-radius: 3.75px;
  background-color: var(--color-aliceblue);
  height: 22.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.badge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrow-right-2 {
  width: 22.5px;
  position: relative;
  height: 22.5px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.nav-item,
.trailing-icon-badge {
  flex-direction: row;
  justify-content: flex-start;
}
.trailing-icon-badge {
  display: none;
  align-items: flex-start;
  font-size: var(--font-size-smi-2);
  color: var(--color-gray);
}
.nav-item {
  width: 260px;
  border-radius: 3.75px;
  display: flex;
  align-items: center;
  padding: 0 7.507691860198975px;
  box-sizing: border-box;
}
.number-notification-badge1 {
  width: 22.5px;
  position: relative;
  border-radius: 3.75px;
  background-color: var(--color-white);
  height: 22.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav-item1,
.trailing-icon-badge1 {
  flex-direction: row;
  justify-content: flex-start;
}
.trailing-icon-badge1 {
  display: none;
  align-items: flex-start;
  font-size: var(--font-size-smi-2);
  color: var(--color-cornflowerblue);
}
.nav-item1 {
  width: 260px;
  border-radius: 3.75px;
  background-color: var(--color-slategray-100);
  display: flex;
  align-items: center;
  padding: 0 7.507691860198975px;
  box-sizing: border-box;
  color: var(--color-white);
}
.chat-icon,
.number-notification-badge4 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.chat-icon {
  width: 30px;
  height: 30px;
  display: none;
}
.number-notification-badge4 {
  width: 22.5px;
  border-radius: 3.75px;
  background-color: var(--color-whitesmoke);
  height: 22.5px;
}
.trailing-icon-badge4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-smi-2);
  color: var(--color-cornflowerblue);
}
.nav-item4,
.nav-item6 {
  width: 260px;
  border-radius: 3.75px;
  flex-direction: row;
  align-items: center;
  padding: 0 7.507691860198975px;
  box-sizing: border-box;
}
.nav-item4 {
  display: flex;
  justify-content: space-between;
}
.nav-item6 {
  display: none;
  justify-content: flex-start;
}
.brand-nav-list,
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-list {
  gap: 15.02px 0;
  font-size: var(--font-size-mini);
  color: var(--color-whitesmoke);
  font-family: var(--font-poppins);
}
.brand-nav-list {
  height: 665.6px;
  gap: 45.05px 0;
}
.toogle-child {
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  height: 15px;
}
.on {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 18.77px;
}
.toogle {
  border-radius: 93.85px;
  background-color: var(--color-slategray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.8769229650497437px 3.7538459300994873px;
  gap: 0 15.02px;
}
.trailing-icon-badge10,
.trailing-icon10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-whitesmoke);
}
.trailing-icon-badge10 {
  font-size: var(--font-size-smi-2);
  color: var(--color-gray);
}
.logout-toogle,
.side-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logout-toogle {
  justify-content: flex-start;
  gap: 22.52px 0;
  font-size: var(--font-size-mini);
  color: var(--color-whitesmoke);
  font-family: var(--font-poppins);
}
.side-nav {
  position: absolute;
  top: 169px;
  left: 52px;
  border-radius: 18px;
  background-color: #0a2943;
  height: 868.1px;
  justify-content: space-between;
  padding: 30.0307674407959px 22.523075103759766px;
  box-sizing: border-box;
  color: #5d7285;
}
.car-icon,
.hourglass-logo-icon {
  position: absolute;
  top: 447px;
  left: 87px;
  width: 33px;
  height: 31px;
  object-fit: cover;
}
.hourglass-logo-icon {
  top: 326px;
  left: 89px;
  width: 31px;
}
.parking-made-easy {
  position: absolute;
  top: 60px;
  left: 92px;
  line-height: 101.56%;
  display: inline-block;
  width: 172px;
  height: 27px;
}
.logo2,
.park-logo-icon {
  position: absolute;
  height: 87px;
}
.park-logo-icon {
  top: 0;
  left: 0;
  width: 236px;
  object-fit: cover;
}
.logo2 {
  top: 23px;
  left: 75px;
  width: 264px;
  font-size: 25px;
  font-family: var(--font-caveat);
}
.my-parkings {
  width: 431px;
  position: relative;
  line-height: 101.56%;
  display: inline-block;
  height: 81px;
  flex-shrink: 0;
}
.frame2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-child {
  width: 36.4px;
  position: relative;
  background-color: var(--color-crimson);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 59.4px;
}
.frame4 {
  width: 339.7px;
  height: 57.4px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 9px;
}
.frame-child10 {
  width: 36.4px;
  position: relative;
  background-color: var(--color-lightgreen);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 59.4px;
}
.frame3 {
  width: 1054.6px;
  border-radius: 17px;
  background-color: #d9d9d9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 591px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 98.6912841796875px 576.0818481445312px 173.28347778320312px
    138.8564453125px;
  box-sizing: border-box;
  gap: 29px 0;
}
.floor-1,
.frame8 {
  width: 345.4px;
  flex-shrink: 0;
}
.floor-1 {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 34.41px;
  font-weight: 500;
  display: inline-block;
  height: 138.9px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
}
.frame8 {
  height: 210px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
}
.frame,
.frame-parent,
.frame1,
.frame8 {
  display: flex;
  align-items: center;
}
.frame-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
}
.frame,
.frame1 {
  overflow: hidden;
  flex-direction: column;
}
.frame1 {
  align-self: stretch;
  justify-content: center;
  gap: 15px 0;
}
.frame {
  position: absolute;
  top: 210px;
  left: 451px;
  width: 1395px;
  justify-content: flex-start;
  font-size: 50px;
  font-family: var(--font-poppins);
}
.slide-169-7 {
  width: 100%;
  position: relative;
  background-color: #302e2e;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 21.6px;
  color: var(--color-white);
  font-family: var(--font-epilogue);
}
