<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global_style.css">
    <title>Park Smart</title>
</head>
<body>
    <div class="sidenav"> 
        <hr>
        <form action="." method="post">
            <label style="color: #818181">license plate</label>
            <br>
            <input type="text", name="license" required>
            <br>
            <label style="color: #818181">phone number</label>
            <input type="text", name="phone" required>
            <button type="submit" name="button_add" value="true">Add</button>
            <button type="submit" name="button_remove" value="true">Remove</button>
            <button type="submit" name="button_check" value="true">Check duration</button>
        </form>
        <hr>
    </div>
        
    <div class="main">
        <div class="levels">
            <div class="level">Level 1</div>
            <div class="level">Level 2</div>
            <div class="level">Level 3</div>
        </div>
        <div class="parking-grid">
            <!-- Row 1 -->
            <div class="{{r11|default("parking-spot", false)}}"></div>
            <div class="{{r12|default("parking-spot", true)}}"></div>
            <div class="{{r13|default("parking-spot", true)}}"></div>
            <div class="{{r14|default("parking-spot", true)}}"></div>
            <div class="{{r15|default("parking-spot", true)}}"></div>
            <div class="{{r16|default("parking-spot", true)}}"></div>
            <div class="{{r17|default("parking-spot", true)}}"></div>
            <div class="{{r18|default("parking-spot", true)}}"></div>
            

            <!-- Row 2 -->
            <div class="{{r21|default("parking-spot", true)}}"></div>
            <div class="{{r22|default("parking-spot", true)}}"></div>
            <div class="{{r23|default("parking-spot", true)}}"></div>
            <div class="{{r24|default("parking-spot", true)}}"></div>
            <div class="{{r25|default("parking-spot", true)}}"></div>
            <div class="{{r26|default("parking-spot", true)}}"></div>
            <div class="{{r27|default("parking-spot", true)}}"></div>
            <div class="{{r28|default("parking-spot", true)}}"></div>
            

            <!-- Row 3 -->
            <div class="{{r31|default("parking-spot", true)}}"></div>
            <div class="{{r32|default("parking-spot", true)}}"></div>
            <div class="{{r33|default("parking-spot", true)}}"></div>
            <div class="{{r34|default("parking-spot", true)}}"></div>
            <div class="{{r35|default("parking-spot", true)}}"></div>
            <div class="{{r36|default("parking-spot", true)}}"></div>
            <div class="{{r37|default("parking-spot", true)}}"></div>
            <div class="{{r38|default("parking-spot", true)}}"></div>
            
            <!-- Add more rows as needed -->
          </div>
          <br>
          <br>
          <br>
          <div class="parking-grid">
            <!-- Row 1 -->
            <div class="{{r41|default("parking-spot", true)}}"></div>
            <div class="{{r42|default("parking-spot", true)}}"></div>
            <div class="{{r43|default("parking-spot", true)}}"></div>
            <div class="{{r44|default("parking-spot", true)}}"></div>
            <div class="{{r45|default("parking-spot", true)}}"></div>
            <div class="{{r46|default("parking-spot", true)}}"></div>
            <div class="{{r47|default("parking-spot", true)}}"></div>
            <div class="{{r48|default("parking-spot", true)}}"></div>
            

            <!-- Row 2 -->
            <div class="{{r51|default("parking-spot", true)}}"></div>
            <div class="{{r52|default("parking-spot", true)}}"></div>
            <div class="{{r53|default("parking-spot", true)}}"></div>
            <div class="{{r54|default("parking-spot", true)}}"></div>
            <div class="{{r55|default("parking-spot", true)}}"></div>
            <div class="{{r56|default("parking-spot", true)}}"></div>
            <div class="{{r57|default("parking-spot", true)}}"></div>
            <div class="{{r58|default("parking-spot", true)}}"></div>
            

            <!-- Row 3 -->
            <div class="{{r61|default("parking-spot", true)}}"></div>
            <div class="{{r62|default("parking-spot", true)}}"></div>
            <div class="{{r63|default("parking-spot", true)}}"></div>
            <div class="{{r64|default("parking-spot", true)}}"></div>
            <div class="{{r65|default("parking-spot", true)}}"></div>
            <div class="{{r66|default("parking-spot", true)}}"></div>
            <div class="{{r67|default("parking-spot", true)}}"></div>
            <div class="{{r68|default("parking-spot", true)}}"></div>
            
            <!-- Add more rows as needed -->
          </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>